{% extends 'classroom/base.html' %}

{% block content %}

<div class="container">

    <h1>Assignments</h1>

    {% if assignment_list %}

        {% for assignment in assignment_list %}

            <div class="card p-3 mb-3">

                <h3>{{ assignment.assignment_name }}</h3>

                <p>
                    Teacher:
                    {{ assignment.teacher.name }}
                </p>

                <a href="{{ assignment.assignment.url }}"
                   class="btn btn-primary"
                   target="_blank">

                    Download Assignment

                </a>

            </div>

        {% endfor %}

    {% else %}

        <h3>No assignments available</h3>

    {% endif %}

</div>

{% endblock %}