{% extends 'classroom/base.html' %}

{% block content %}

<div class="container">

    <div class="jumbotron">

        <h1>Upload Assignment</h1>

        <form enctype="multipart/form-data" method="post">

            {% csrf_token %}

            <div class="form-group">

                <label>Select Students</label>

                {{ form.students }}

            </div>

            <br>

            <div class="form-group">

                <label>Assignment Name</label>

                {{ form.assignment_name }}

            </div>

            <br>

            <div class="form-group">

                <label>Upload Assignment</label>

                {{ form.assignment }}

            </div>

            <br>

            <input
                type="submit"
                class="btn btn-danger"
                value="Upload"
            >

        </form>

    </div>

</div>

{% endblock %}