{% extends 'classroom/base.html' %}

{% block content %}

<div class="container">

    <div class="jumbotron">

        <h2>Assignments</h2>

        {% if assignment_list %}

            <table class="table">

                <thead class="thead-dark">

                    <tr>
                        <th>#</th>
                        <th>Assignment</th>
                        <th>Teacher</th>
                        <th>Date</th>
                        <th>Download</th>
                    </tr>

                </thead>

                <tbody>

                    {% for assignment in assignment_list %}

                    <tr>

                        <td>{{ forloop.counter }}</td>

                        <td>{{ assignment.assignment_name }}</td>

                        <td>{{ assignment.teacher.name }}</td>

                        <td>{{ assignment.created_at }}</td>

                        <td>
                            <a href="{{ assignment.assignment.url }}"
                               class="btn btn-primary"
                               target="_blank">

                               Download

                            </a>
                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        {% else %}

            <h3>No assignments available</h3>

        {% endif %}

    </div>

</div>

{% endblock %}